In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('all cups.csv')
df.drop(columns=['Goal Difference','Points'],inplace=True)

In [3]:
df[df['Team']=='Germany']

,Position,Team,Games Played,Win,Draw,Loss,Goals For,Goals Against,year
15,3,Germany,4,3,0,1,11,8,1934
38,10,Germany,2,0,1,1,3,5,1938
245,5,Germany,5,3,1,1,9,7,1994
271,7,Germany,5,3,1,1,8,6,1998
298,2,Germany,7,5,1,1,14,3,2002
331,3,Germany,7,5,1,1,14,6,2006
363,3,Germany,7,5,0,2,16,5,2010
393,1,Germany,7,6,1,0,18,4,2014
443,19,Germany,3,1,0,2,2,4,2018

In [10]:
world_summ=pd.read_csv("FIFA - World Cup Summary.csv")
world_summ.head()

,YEAR,HOST,CHAMPION,RUNNER UP,THIRD PLACE,TEAMS,MATCHES PLAYED,GOALS SCORED,AVG GOALS PER GAME
0,1930,Uruguay,Uruguay,Argentina,United States,13,16,70,3.6
1,1934,Italy,Italy,Czechoslovakia,Germany,16,17,70,4.1
2,1938,France,Italy,Hungary,Brazil,15,18,84,4.7
3,1950,Brazil,Uruguay,Brazil,Sweden,13,22,88,4.0
4,1954,Switzerland,West Germany,Hungary,Austria,16,26,140,5.4

In [9]:
data=pd.read_csv('WorldCups.csv')
data.tail()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [14]:
data['Avg Goals per Game']=world_summ['AVG GOALS PER GAME']

In [16]:
row={'Year':2018,'Country':'Russia','Winner':'France','Runners-Up':'Croatia','Third':'Belgium','Fourth':'England',
    'GoalsScored':169,'QualifiedTeams':32,'MatchesPlayed':64,'Attendance':'3.031.768','Avg Goals per Game':2.64}

data=data.append(row,ignore_index=True)

In [17]:
data

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,Avg Goals per Game
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549,3.60
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000,4.10
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700,4.70
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246,4.00
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607,5.40
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810,3.60
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172,2.80
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135,2.80
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975,3.00
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753,2.60
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791,2.70
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723,2.80
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031,2.50
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215,2.20
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538,2.70
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100,2.70
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197,2.50
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439,2.30
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856,2.30
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810,2.70
20,2018,Russia,France,Croatia,Belgium,England,169,32,64,3.031.768,2.64

In [23]:
data['Attendance']=data['Attendance'].str.replace('.',',')

C:\Users\bhavy\AppData\Local\Temp/ipykernel_8188/1184027704.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['Attendance']=data['Attendance'].str.replace('.',',')

In [26]:
data.to_csv('world cup_final.csv',index=False)